.userName {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    display: inline;
    vertical-align: baseline;
    position: relative;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.content {
    color:#dcddde;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    white-space: break-spaces;
    word-wrap: break-word;
}

.chatLine {
    display: grid;
    grid-template-columns: 50px auto;
    padding: 10px 0px;
}