* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.NavBar { grid-area: header; background-color: #202225; }
.SlideBar { grid-area: menu; background-color: #2f3237; }
.MainChat { grid-area: main; background-color: #36393f; }
.RightBar { grid-area: right; background-color: #2f3237;}

.App {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'menu header header '
    'menu main  right'
    'menu main  right';
  grid-template-rows: 5%;
  grid-template-columns: 15% 75% 10% ;
  padding: 10px;
  background-color: #36393f;
  padding: 0;
  margin: 0;
  }
