/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.MessageList { 
    grid-area: message; 
    background-color: #36393f;
    overflow: auto;
    padding-left: 2%;
    
}
::-webkit-scrollbar {display:none;}

.SendMessForm { 
    grid-area: input;
    background-color: #2f3237; 
    margin: 0 2%;
}


.main {
    display: grid;
    grid-template-areas:
    'message'
    'input';
    background: #36393f;
    overflow: hidden;
    grid-template-rows: 85vh 5vh 5vh;
}