input {
    align-self: center;
}
.message-form {
    display: grid;
    overflow: hidden;
    border-radius: 6px;
    grid-template-columns: 95% auto;
    background-color: #40444b;

  }

  .message-input {
    border: none;

    height: 40px;
    color: #dcddde;
    padding: 0px 18px;
    outline: none;
    font-size: 15px;
    background-color: #40444b;
  }
  .send-button {
    height: 42px;
    padding: 0px 18px;
    color:gray;
    cursor: pointer;
    background-color: #40444b;
    border: none;
    /* background-color: #40444b; */
  }
  .send-icon {
    line-height: 42px;
  }